span{
    color: blue;
}
span#bl{
    color: darkturquoise;
}
p{
    text-indent: 1cm;
    font-size: 14px;
    font-family: Calibri Light;
    letter-spacing: normal;
    line-height: 13px;
}
hr{
    width: auto;
    margin-top: 1%;
}
p,hr{
    text-align: justify;
    margin-right: 60%;
}

